config server 'server_name'
	option enabled '0'
	option listen ":36712"
	option cert '/etc/openwrt.pem'
	option key '/etc/openwrt-key.pem'
	option obfs ''

config client 'client_name'
	option enabled '0'
	option server 'server:36712'
	option obfs ''
	option up_mbps 10
	option down_mbps 50
	option socks5 '{"listen":"127.0.0.1:1080"}'
