config server 'server_name'
	option enabled '0'
	option confdir /etc/hysteria
	option conffile server.yaml

config client 'client_name'
	option enabled '0'
	option enabled_tproxy '1'
	option enabled_dnsmasq '1'
	option confdir /etc/hysteria
	option conffile client.yaml

config configs 'client_name_tproxy'
	option mark "0x1000"
	option user "hysteria"
	option port "2500"
	option table "client_name"
	option set "proxy"
	option route_table "100"

config configs 'client_name_dnsmasq'
	option server "127.0.0.53"
	option nftset "4#ip#client_name#proxy"
	list domain "google.com"
